/* Variables */
$body-color:#f5f5f7;
$body-bg-color:#FDFDFD;

/* Fonts */
$OpenSans:'Open Sans', sans-serif;
$Montserrat:'Montserrat', sans-serif;

/* Header */
$blue-bg: #224e8b;
$drop-down-blue: #06386d;
$light-blue-bg: #6382ad;
$light-blue-border: #43628d;
$text-on-blue-bg: #f1f1f1;
$hdr-skyblue:#38a9b1;

/* Contact us page */
$cyan:#3ca7af;
/* Footer */
$footer-color:#061223;
$sky-blue-hm:#00abc1;
$white-opacity-10:rgba(255, 255, 255, 1);
$white-opacity-1:rgba(255, 255, 255, .7);
$section-height:600px;

$tile_blue1:#2fbfbf;
$tile_white:#fff;
$tile_light_gray_rose:#f5ede0;
$tile_red1:#e74c2e;;
$tile_gray1:#f3f3f3;
$tile_gray2:#d2c77c;
$tile_gray3:#f4efd9;
$tile_dark_blue_gray: #62676d;
$tile_dark_yellow1:#eddf65;
$tile_black1:#352e20;
$tile_dark_blue:#182045;
$tile_dark_yellow2:#f2c230;
$tile_dark_yellow3:#f7da75;
$tile_violet1:#a486b5;
$tile_violet2:#b590af;
$tile_orange:#f29353;
$tile_maroon:#b31b28;
$tile_purple:#913961;
$tile_light_green:#00c393;
$tile_green:#78af36;
$tile_blue:#203880;
$tile_blue2:#030f34;
$tile_blue3:#2a3646;
$tile_cyan:#256f6e;
$tile_dark-blue-grn:#001424;
$tile_dark-red:#c81d2c;
